@import "_func";

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  padding:0;

  //Font-size scales responsively with viewport with a slope
  //defined by the value of vw
  //Too much slope, and the font scales too fast, not easy to use in a small frame
  //Not enough slope, and the font won't grow fast enough (too small in small and will
  //definitely require another breakpoint)
  //Adding fixed px values acts weird b/c while it shifts up, at small viewport sizes
  //it will outweigh the viewport width and seem to "slow down" scaling
  font-size: 2.5vw;
  font-family: $rubik;
  background-color: #333;
  color: #FFF;
  line-height: 1.2;

  //In desktop breakpoint, we are static at the given font-size
  @include desktop {
    font-size: 16px;
  }
}

body, html {
  margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

a, a:visited, a:active {
  color: $chillBlue;
}
a:hover {
  color: lighten($chillBlue,10%);
}

p, ul, li, .base-text {
  font-size: cRems(16px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif; //Title font
}

h2 {
  font-size: cRems(45px);
  @include desktop {
    font-size: cRems(30px);
  }
}

h3 {
  font-size: cRems(40px);
  @include desktop {
    font-size: cRems(26px);
  }
}

h4 {
  font-size: cRems(35px);
  @include desktop {
    font-size: cRems(22px);
  }
}

button, .button {
  @extend .base-text;

  border: cRems(1px) solid #FFF;
  border-radius: cRems(5px);
  background: transparent;
  color: #FFF;
  padding: cRems(2px) cRems(7px);
  cursor: pointer;
  transition: background 0.4s;

  &:hover {
    background-color: #FFF;
    color: #000;
  }
}

kbd {
  display: inline-block;
  border: cRems(1px) solid #FFF;
  border-radius: cRems(5px);
  background: transparent;
  color: #FFF;
  padding: cRems(7px) cRems(7px);
  min-width: cRems(30px);
  min-height: cRems(30px);
  vertical-align: middle;
  margin: 0 cRems(5px);
}

.hide-enter-active, .hide-leave-active {
  transition: opacity 1.5s;
}
.hide-leave-to, .hide-enter {
  opacity: 0.0;
}